html body {
  height: 100%;
}

.container {
  padding: 0 15px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: content-box;
}

.icon {
  width: 36px;
  height: 36px;
  background-color: #FF6767;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon img {
  width: 15px;
  height: 15px;
}

.custom-checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
  user-select: none;
  gap: 26px;
}
.custom-checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border: 1px solid #565454;
  transition: all 0.3s;
}
.custom-checkbox__checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.custom-checkbox__text {
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 500;
  color: #212427;
  position: absolute;
  left: 44px;
}

.custom-checkbox__input:checked ~ .custom-checkbox__checkmark:after {
  display: block;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.layout-bottom {
  display: flex;
  height: 868px;
  gap: 76px;
  margin: 0 0 0 160px;
}

.layout-left {
  width: 330px;
}

.layout-content {
  background-color: orange;
  width: 958px;
}

html body:has(.layout-auth) {
  height: 100%;
  overflow: hidden;
}

.layout-auth {
  background-color: #FF6767;
  background-image: url("/image/register/register.png");
  min-height: 1024px;
  display: flex;
  align-items: center;
}
.layout-auth__content {
  width: 1236px;
  height: 767px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
}
.layout-auth__left {
  width: 50%;
}
.layout-auth__left img {
  margin-top: 106px;
}
.layout-auth__left--login img {
  margin-top: 0px;
}
.layout-auth__right {
  width: 50%;
}
.layout-auth__right--login {
  position: relative;
}
.layout-auth__right--login img {
  position: absolute;
  top: 201px;
  right: 14px;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

.header {
  background-color: #F8F8F8;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.07);
  padding: 36px 0 24px 0;
}
.header__content {
  display: flex;
  gap: 151px;
}
.header__flex {
  display: flex;
  align-items: center;
  gap: 81px;
}
.header__item {
  display: flex;
  gap: 37px;
}
.header__icon {
  display: flex;
  gap: 6px;
}

.logo {
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  max-width: 100%;
}
.logo span {
  color: #FF6767;
}

.search {
  width: 695px;
}
.search__form {
  display: flex;
  border-radius: 8px;
  box-shadow: 5px 21px 28px 0px rgba(0, 0, 0, 0.07);
}
.search__input {
  flex: 1;
  padding: 0px 0px 0px 15px;
}
.search__input::placeholder {
  color: #A1A3AB;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", serif;
}
.search__input:focus {
  color: #A1A3AB;
}

.dates {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.dates__day {
  color: #000000;
  font-size: 15px;
}
.dates__date {
  color: #3ABEFF;
  font-size: 14px;
}

.auth {
  padding: 38px 0px;
  height: 100%;
}
.auth--register {
  padding-left: 12px;
  padding-right: 47px;
}
.auth--login {
  padding: 144px 10px 0 50px;
}

.auth-title {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 36px;
  color: #212427;
  margin-bottom: 21px;
}
.auth-title--login {
  margin-bottom: 24px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
.auth-form--login {
  gap: 24px;
}

.auth-input {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 69px;
  border-radius: 8px;
  border: 1px solid #565454;
  position: relative;
}
.auth-input span {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15px;
  left: 18px;
}
.auth-input input {
  font-family: "Montserrat", serif;
  color: #000000;
  font-size: 16px;
  width: 100%;
  height: 100%;
}
.auth-input input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 16px;
  color: #999999;
}

.auth-buttons {
  max-width: 559px;
  font-family: "Montserrat", serif;
  margin-top: 30px;
}
.auth-buttons--login {
  margin-top: 26px;
}
.auth-buttons__checkbox {
  margin-bottom: 20px;
}
.auth-buttons__checkbox--login {
  margin-bottom: 45px;
}

.auth-btn {
  min-width: 129px;
  padding: 20px;
  background-color: #FF9090;
  color: #F8F9FB;
  border-radius: 5px;
  font-size: 16px;
}

.auth-login {
  margin-top: 17px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px;
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 16px;
}
.auth-login span {
  color: #212427;
}
.auth-login__box {
  display: flex;
  align-items: center;
  gap: 11px;
}
.auth-login--login {
  margin-top: 67px;
  gap: 21px;
  padding: 0;
}
.auth-login--bottom {
  gap: 5px;
  padding: 0;
  margin-top: 15px;
}

.auth-link {
  color: #0c8ce9;
}

.rektangle {
  background-color: #FF6767;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 100%;
}