html body {
  height: 100%;
}

.container {
  padding: 0 15px;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: content-box;
}

.icon {
  width: 36px;
  height: 36px;
  background-color: #FF6767;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon img {
  width: 15px;
  height: 15px;
}

.checkbox-container {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
  gap: 25px;
}
.checkbox-container input {
  cursor: pointer;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border: 1px solid #565454;
}

.terms-text {
  font-family: "Montserrat", serif;
  font-size: 16px;
  font-weight: 500;
  color: #212427;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.layout-bottom {
  display: flex;
  height: 868px;
  gap: 113px;
  margin: 0 auto;
}

.layout-left {
  background-color: red;
  width: 368px;
}

.layout-content {
  background-color: orange;
  width: 958px;
}

.layout-auth {
  background-color: #FF6767;
  background-image: url("/image/register/register.png");
  min-height: 1024px;
  display: flex;
  align-items: center;
}
.layout-auth__content {
  width: 1236px;
  height: 767px;
  margin: 0 auto;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
}
.layout-auth__left {
  width: 50%;
}
.layout-auth__left img {
  margin-top: 106px;
}
.layout-auth__right {
  width: 50%;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

input[type=file] {
  max-width: 100%;
}

.header {
  background-color: #F8F8F8;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.07);
  padding: 38px 0 24px 0;
}
.header__content {
  display: flex;
  gap: 151px;
}
.header__flex {
  display: flex;
  align-items: center;
  gap: 81px;
}
.header__item {
  display: flex;
  gap: 37px;
}
.header__icon {
  display: flex;
  gap: 6px;
}

.logo {
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  max-width: 100%;
}
.logo span {
  color: #FF6767;
}

.search {
  width: 695px;
}
.search__form {
  display: flex;
  border-radius: 8px;
  box-shadow: 5px 21px 28px 0px rgba(0, 0, 0, 0.07);
}
.search__input {
  flex: 1;
  padding: 0px 0px 0px 15px;
}
.search__input::placeholder {
  color: #A1A3AB;
  font-size: 12px;
  font-weight: 600;
  font-family: "Montserrat", serif;
}
.search__input:focus {
  color: #A1A3AB;
}

.dates {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.dates__day {
  color: #000000;
  font-size: 15px;
}
.dates__date {
  color: #3ABEFF;
  font-size: 14px;
}

.auth {
  padding: 39px 0px;
  height: 100%;
}

.auth-title {
  font-family: "Montserrat", serif;
  font-weight: 700;
  font-size: 36px;
  color: #212427;
  margin-top: 21px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.auth-input {
  display: flex;
  align-items: center;
  padding: 15px;
  gap: 26px;
  border-radius: 8px;
  border: 1px solid #565454;
}
.auth-input input::placeholder {
  font-family: "Montserrat", serif;
  font-weight: 500;
  font-size: 16px;
  color: #999999;
}

.auth-buttons {
  max-width: 559px;
  font-family: "Montserrat", serif;
  margin-top: 31px;
}