//dashboard
.layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.layout-top {}

.layout-bottom {
    display: flex;
    height: 868px;
    gap: 113px;
    margin: 0 auto;

}

.layout-left {
    background-color: red;
    width: 368px;

}

.layout-content {
    background-color: orange;
    width: 958px;

}

html body:has(.layout-auth) {
    height: 100%;
    overflow: hidden;

}

//register login
.layout-auth {
    background-color: $pink;
    background-image: url('/image/register/register.png');
    min-height: 1024px;
    display: flex;
    align-items: center;

    &__content {
        width: 1236px;
        height: 767px;
        margin: 0 auto;
        background-color: $white;
        border-radius: 10px;
        display: flex;
    }

    &__left {
        width: 50%;

        img {
            margin-top: 106px;
        }

        &--login {

            img {
                margin-top: 0px;
            }
        }
    }

    &__right {
        width: 50%;

        &--login {
            position: relative;

            img {
                position: absolute;
                top: 201px;
                right: 14px;
            }
        }
    }

}