//font-family
$font-inter: "Inter", sans-serif;
$font-montserrat: "Montserrat", serif;

//color
$header: #F8F8F8;
$white: #FFFFFF;
$search: #F5F8FF;
$pink: #FF6767;
$grey: #A1A3AB;
$dark: #000000;
$registertitle: #212427;
$lightblue: #42ADE2;
$lightblue2: #3ABEFF;
$blue: #0225FF;
$authlink: #0c8ce9;
$red: #F21E1E;
$green: #05A301;
$border: #565454;
$register: #999999;
$btn: #FF9090;
$btncolor: #F8F9FB;

//media
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;