.auth {
    padding: 38px 0px;
    height: 100%;

    &--register {
        padding-left: 12px;
        padding-right: 47px;
    }
}

.auth-title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 36px;
    color: $registertitle;
    margin-bottom: 21px;
}

.aut-konvert {}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.auth-input {
    display: flex;
    align-items: center;
    padding: 20px 70px;
    gap: 26px;
    border-radius: 8px;
    border: 1px solid $border;
    position: relative;

    input {

        &::placeholder {
            font-family: $font-montserrat;
            font-weight: 500;
            font-size: 16px;
            color: $register;
        }
    }
}

.auth-img {
    position: absolute;
    top: 15px;
    left: 17px;

    &--username {
        top: 19px;
        left: 22px;
    }

    &--emale {
        top: 20px;
        left: 19px;
    }

    &--password {
        top: 15px;
        left: 22px;
    }
}



.auth-buttons {
    max-width: 559px;
    font-family: $font-montserrat;
    margin-top: 31px;
}