.auth {
    padding: 38px 0px;
    height: 100%;

    &--register {
        padding-left: 12px;
        padding-right: 47px;
    }

    &--login {
        padding: 144px 10px 0 50px;
    }
}

.auth-title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 36px;
    color: $registertitle;
    margin-bottom: 21px;

    &--login {
        margin-bottom: 24px;
    }
}

.aut-konvert {}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 21px;

    &--login {
        gap: 24px;
    }
}

.auth-input {
    display: flex;
    align-items: center;
    padding: 20px 70px;
    border-radius: 8px;
    border: 1px solid $border;
    position: relative;

    input {
        font-family: $font-montserrat;
        color: $dark;
        font-size: 16px;
        width: 100%;
        height: 100%;

        &::placeholder {
            font-family: $font-montserrat;
            font-weight: 500;
            font-size: 16px;
            color: $register;
        }

    }
}

.auth-img {
    position: absolute;
    top: 15px;
    left: 17px;

    &--username {
        top: 19px;
        left: 22px;
    }

    &--emale {
        top: 20px;
        left: 19px;
    }

    &--password {
        top: 15px;
        left: 22px;
    }
}



.auth-buttons {
    max-width: 559px;
    font-family: $font-montserrat;
    margin-top: 30px;

    &--login {
        margin-top: 26px;
    }
}

.auth-btn {
    min-width: 129px;
    padding: 20px;
    background-color: $btn;
    color: $btncolor;
    border-radius: 5px;
    font-size: 16px;
}

.auth-login {
    margin-top: 17px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px;
    font-family: $font-montserrat;
    font-weight: 500;
    font-size: 16px;

    span {
        color: $registertitle;
    }

    &__box {
        display: flex;
        gap: 11px;
    }

    &--login {
        margin-top: 67px;
        gap: 21px;
        padding: 0;
    }

    &--bottom {
        gap: 5px;
        padding: 0;
        margin-top: 15px;
    }
}

.auth-link {
    color: $authlink;
}