.auth {
    padding: 39px 0px;
    height: 100%;
}

.auth-title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 36px;
    color: $registertitle;
    margin-top: 21px;
}

.aut-konvert {}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.auth-input {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 26px;
    border-radius: 8px;
    border: 1px solid $border;

    img {}


    input {

        &::placeholder {
            font-family: $font-montserrat;
            font-weight: 500;
            font-size: 16px;
            color: $register;
        }
    }
}

.auth-buttons {
    max-width: 559px;
    font-family: $font-montserrat;
    margin-top: 31px;
}