.header {
    background-color: F8F8F8;
    box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.07);
    padding: 38px 0 24px 0;

    &__content {
        display: flex;
        gap: 151px;
    }

    &__flex {
        display: flex;
        align-items: center;
        gap: 81px;
    }

    &__item {
        display: flex;
        gap: 37px;
    }

    &__icon {
        display: flex;
        gap: 6px;
    }


}