body {
    //background-image: url("/image/register/register.svg");
}

.register {

    .container {
        padding: 0 15px;
        max-width: 1236px;
        min-height: 767px;
        margin: 0 auto;
        box-sizing: content-box;
    }
}