.register {}

.register-title {
    font-family: $font-montserrat;
    font-weight: 700;
    font-size: 36px;
    color: $registertitle;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 22px;

    &__group {
        width: 559px;
        border-radius: 8px;
        border: 1px solid $border;
        display: flex;
        align-items: center;
        padding: 18px;


        input {
            &::placeholder {
                font-family: $font-montserrat;
                font-weight: 500;
                font-size: 16px;
                color: $register;
            }
        }



        label img {
            width: 22px;
            height: 22px;
        }
    }
}