.search {
    width: 695px;

    &__form {
        display: flex;
        border-radius: 8px;
        box-shadow: 5px 21px 28px 0px rgba(0, 0, 0, 0.07);
    }

    &__input {
        flex: 1;
        padding: 0px 0px 0px 15px;

        &::placeholder {
            color: $grey;
            font-size: 12px;
            font-weight: 600;
            font-family: $font-montserrat;
        }

        &:focus {
            color: $grey;
        }
    }
}

.search-button {}